extends includes/layout

block content
  //h1= title
  //p Welcome to #{title}
  .container
    .file-drop-area
      span.fake-btn Choose files
      span.file-msg or drop files here
      input.file-input(type='file' multiple='')
      .item-delete

  include includes/scripts   